/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f7f593;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

/* HEADER */

header{
    background:#2c6e2e;
    color:white;
    padding:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav{
    display:flex;
    gap:10px;
}

nav a{
    text-decoration:none;
    color:white;
    background:#398b3c;
    padding:8px 14px;
    border-radius:6px;
    transition:0.3s;
}

nav a:hover{
    background:#33f104;
    color:black;
}

/* MAIN */

main{
    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px;
}

/* DASHBOARD */

.dashboard{
    display:grid;

    grid-template-columns:repeat(2, 250px);
    gap:30px;
}

/* CARDS */
.card{
    width:250px;
    height:120px;

    background:white;
    border-radius:15px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:10px;

    font-size:16px;
    font-weight:bold;

    text-decoration:none;
    color:#2c6e2e;

    box-shadow:0 6px 12px rgba(0,0,0,0.15);

    transition:0.25s;
}

/* ÍCONE */
.card span{
    font-size:28px;
}

/* HOVER */
.card:hover{
    transform:translateY(-5px);

    background:#2c6e2e;
    color:white;

    box-shadow:0 10px 20px rgba(0,0,0,0.25);
}
/* FOOTER */

footer{
    background:black;
    color:white;
    text-align:center;
    padding:20px;
}